@import 'variables';

.note-card {
  background-color: $white;
  border-radius: 25px;
  box-shadow: 0px 0px 3px rgb(0 0 0 / 46%);
  display: flex;
  flex-direction: column;
  height: 300px;

  &.note-blue {
    background-color: $light-blue;
  }

  &.note-yellow {
    background-color: $light-yellow;
  }

  &.note-green {
    background-color: $light-green;
  }

  &.note-pink {
    background-color: #ffcce3;
  }

  &.note-red {
    background-color: #ffabab;
  }

  &.note-lightblue {
    background-color: #a1c6ff;
  }

  &.note-purple {
    background-color: #d9b8ff;
  }

  &.note-lime {
    background-color: #d8ff8b;
  }

  &.note-orange {
    background-color: #ffd0a1;
  }

  &.note-gray {
    background-color: #d9d9d9;
  }

  &.note-darkgray {
    background-color: #a6a6a6;
  }

  &.note-brown {
    background-color: #c4a68a;
  }

  &.note-black {
    background-color: #0000;
  }

  .note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-md $spacing-md 0;

    &.light-background {
      border-bottom: 1px solid #d3d3d3;
    }

    &.dark-background {
      border-bottom: 1px solid #ffff;
    }

    .note-title {
      font-size: $font-size-md;
      font-weight: 500;
      margin: 0;
    }

    .star-button {
      background: none;
      border: none;
      color: $medium-gray;
      cursor: pointer;

      &:hover {
        color: $amber;
      }

      &.active {
        color: $amber;
      }
    }
  }

  .action-button.edit img {
    width: 20px;
    height: 20px;
  }
  
  .note-content {
    flex: 1;
    font-size: $font-size-sm;
    color: $dark-gray;
    padding: $spacing-md $spacing-md 0;
    margin-bottom: $spacing-md;
    overflow-y: auto;

    p {
      margin: 0;
      overflow-wrap: break-word; /* Garante a quebra */
      white-space: normal; /* Permite múltiplas linhas */
    }
  }

  .note-actions {
    padding: 0 $spacing-md 10px;
    display: flex;
    gap: $spacing-md;
    justify-content: space-between;

    .action-button {
      background: none;
      border: none;
      color: $medium-gray;
      cursor: pointer;
      padding: $spacing-xs;

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: $dark-gray;
        background-color: #FFE3B3;
        border-radius: 50%;
      }

      &.delete:hover {
        background-color: $red;
      }
    }

    .color-picker-container {
      position: relative;
    }
  }

  .action-buttons {
    display: flex;
    gap: $spacing-sm;
  }

  .action-button {
    width: 30px;
    height: 30px;
  }
}
